@import url('https://fonts.googleapis.com/css2?family=inter:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0F298B;       /* #0F298B #DD0A37 #16A34A */
  /* --secondary-color: #FAFAFA; */
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #FAFAFA; */
}

span{
  color: var(--primary-color);
}

.banner-bg{
  background-image: url('https://i.ibb.co/NKwZvzD/interior-1.jpg'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

.active{
  color: var(--primary-color);
}

.bg-prim{
  background-color: var(--primary-color);
}

.prim{
  color: var(--primary-color);
}

.theme-shadow {
  box-shadow: 24px 24px 48px 0px rgba(37, 73, 211, 0.05);
}

.btn-prim{
  padding: 8px 24px;
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
}