@import url('https://fonts.googleapis.com/css2?family=inter:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Color code:
navy black  : #0F298B #000
geen orange : #036351 #FF6200
*/

:root {
  --primary-color: #036351;       /* #0F298B #DD0A37 #16A34A */
  --secondary-color: #FF6200;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #FAFAFA; */
}

span{
  color: var(--primary-color);
}

.banner-bg{
  /* background-image: url('https://i.ibb.co/NKwZvzD/interior-1.jpg');  */
  /* background-image: url('https://images.unsplash.com/photo-1515511856280-7b23f68d2996?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  */
  background-image: url('https://images.unsplash.com/photo-1631679706909-1844bbd07221?q=80&w=1392&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

.active{
  color: var(--primary-color);
}

.bg-prim{
  background-color: var(--primary-color);
}

.prim{
  color: var(--primary-color);
}
.bg-seco{
  background-color: var(--secondary-color);
}

.seco{
  color: var(--secondary-color);
}

.bg-gray{
  background-color: #f2f2f7;
}

.bg-green{
  background-color: #16A34A;
}

.green{
  color: #16A34A;
}

.btn-prim{
  padding: 8px 24px;
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
}
.btn-seco{
  padding: 8px 24px;
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: #fff;
}

.theme-shadow {
  box-shadow: 24px 24px 48px 0px rgba(37, 73, 211, 0.05);
}
